<div *ngIf="hero">
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
</div>